.product-list {
    margin: 20px;
  }
  
  .product-list h2 {
    margin-bottom: 10px;
  }
  
  .product-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-list li {
    padding: 5px 0;
  }
  